<script src="/_pagefind/pagefind-ui.js" type="text/javascript" defer="defer"></script>
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
<div id="search" class="p-4 border"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      showImages: false,
      translations: {
        placeholder: "Buscar en todo el sitio...",
        clear_search: "Limpiar",
      },
      debounceTimeoutMs: 100,
    });
  });
</script>
