<script src="/pagefind/pagefind-ui.js" type="text/javascript" defer="defer"></script>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<div id="search" class="p-4 border border-neutral-300 dark:border-neutral-600 rounded-lg"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      showImages: false,
      translations: {
        placeholder: "Buscar en todo el sitio...",
        clear_search: "Limpiar",
      },
      debounceTimeoutMs: 100,
    });
  });
</script>
