{
  http_port 8080
}

localhost:8443 {
  log
	file_server browse
	root * ./build

  redir "/Microcontrolador (teclados mecánicos).html" "/x/Microcontrolador%20(teclados%20mec%C3%A1nicos)/"
  redir "/Monitoreo de censura de Internet.html" "/x/Monitoreo%20de%20censura%20de%20Internet/"
  redir "/Mozilla.html" "/x/Mozilla/"
  redir "/2022-06-08 Necesitamos seguridad colectiva.html" "/x/2022-06-08-Necesitamos%20seguridad%20colectiva/"
  redir "/2022-07-13.html" "/x/2022-07-13/"
  redir "/2022-07-16.html" "/x/2022-07-16/"
  redir "/2022-10-15 Analisis de la extracción de datos del teléfono de Fernando André Sabag Montiel.html" "/x/2022-10-15-Analisis%20de%20la%20extracci%C3%B3n%20de%20datos%20del%20tel%C3%A9fono%20de%20Fernando%20Andr%C3%A9%20Sabag%20Montiel/"
  redir "/2022-10-30 Bugs de accesibilidad.html" "/x/2022-10-30-Bugs%20de%20accesibilidad/"
  redir "/2022-11-18 Donweb es ridículo.html" "/x/2022-11-18-Donweb%20es%20rid%C3%ADculo/"
  redir "/2023-04-30 Donweb quiere tu cripto.html" "/x/2023-04-30-Donweb%20quiere%20tu%20cripto/"
  redir "/404.html" "/x/404/"
  redir "/Activismo Gordo.html" "/x/Activismo%20Gordo/"
  redir "/Aesthetic.html" "/x/Aesthetic/"
  redir "/Alimentación.html" "/x/Alimentaci%C3%B3n/"
  redir "/Alpine Linux.html" "/x/Alpine%20Linux/"
  redir "/Android.html" "/x/Android/"
  redir "/Android Auto.html" "/x/Android%20Auto/"
  redir "/Android seguro.html" "/x/Android%20seguro/"
  redir "/Antiderechos de autorx.html" "/x/Antiderechos%20de%20autorx/"
  redir "/Aprender.html" "/x/Aprender/"
  redir "/Archivar los archivos de la dictadura militar.html" "/x/Archivar%20los%20archivos%20de%20la%20dictadura%20militar/"
  redir "/2023-02-05 Vergüenza algorítmica.html" "/x/2023-02-05-Verg%C3%BCenza%20algor%C3%ADtmica/"
  redir "/Arreglando bugs ajenos.html" "/x/2021-10-11-Arreglando%20bugs%20ajenos/"
  redir "/Atreus v1.html" "/x/Atreus%20v1/"
  redir "/Atreus v2.html" "/x/Atreus%20v2/"
  redir "/BitTorrent.html" "/x/BitTorrent/"
  redir "/BitTorrent v2.html" "/x/BitTorrent%20v2/"
  redir "/Bluetooth.html" "/x/Bluetooth/"
  redir "/Bookmarklets.html" "/x/Bookmarklets/"
  redir "/Booteables.html" "/x/Booteables/"
  redir "/Boox T68.html" "/x/Boox%20T68/"
  redir "/Burn Book.html" "/x/Burn%20Book/"
  redir "/C.html" "/x/C/"
  redir "/CHINESE GOD OIL.html" "/x/CHINESE%20GOD%20OIL/"
  redir "/Chromium.html" "/x/Chromium/"
  redir "/Cocina.html" "/x/Cocina/"
  redir "/Códigos QR.html" "/x/C%C3%B3digos%20QR/"
  redir "/Comics.html" "/x/Comics/"
  redir "/Cooperativas.html" "/x/Cooperativas/"
  redir "/Cosas.html" "/x/Cosas/"
  redir "/CRDT.html" "/x/CRDT/"
  redir "/CSS: color-scheme.html" "/x/CSS/"
  redir "/curl.html" "/x/curl/"
  redir "/DecSync.html" "/x/DecSync/"
  redir "/Diseño.html" "/x/Dise%C3%B1o/"
  redir "/Disroot.html" "/x/Disroot/"
  redir "/DNS.html" "/x/DNS/"
  redir "/Donweb.html" "/x/Donweb/"
  redir "/Dropbear.html" "/x/Dropbear/"
  redir "/E-ink.html" "/x/E-ink/"
  redir "/Electronica.html" "/x/Electronica/"
  redir "/Email.html" "/x/Email/"
  redir "/EPUB.html" "/x/EPUB/"
  redir "/Este sitio.html" "/x/Este%20sitio/"
  redir "/Experiencing harmful behavior in Alpine.html" "/x/Experiencing%20harmful%20behavior%20in%20Alpine/"
  redir "/Fabricación de circuitos impresos.html" "/x/Fabricaci%C3%B3n%20de%20circuitos%20impresos/"
  redir "/Facebook.html" "/x/Facebook/"
  redir "/Faircamp.html" "/x/Faircamp/"
  redir "/FakeSMTP.html" "/x/FakeSMTP/"
  redir "/Firecracker.html" "/x/Firecracker/"
  redir "/Forgejo.html" "/x/Forgejo/"
  redir "/Formatos de texto.html" "/x/Formatos%20de%20texto/"
  redir "/Fotografía.html" "/x/Fotograf%C3%ADa/"
  redir "/Fuck WebRTC.html" "/x/Fuck%20WebRTC/"
  redir "/Git.html" "/x/Git/"
  redir "/Gitea.html" "/x/Gitea/"
  redir "/GNOME.html" "/x/GNOME/"
  redir "/Go.html" "/x/Go/"
  redir "/GraphHopper.html" "/x/GraphHopper/"
  redir "/Hacks: limpiar servidor.html" "/x/Hacks:%20limpiar%20servidor/"
  redir "/HedgeDoc.html" "/x/HedgeDoc/"
  redir "/Herramienta de monitoreo de medios.html" "/x/Herramienta%20de%20monitoreo%20de%20medios/"
  redir "/HTML.html" "/x/HTML/"
  redir "/Ideas.html" "/x/Ideas/"
  redir "/Ideas para un sistema operativo propio en Chromebooks.html" "/x/Ideas%20para%20un%20sistema%20operativo%20propio%20en%20Chromebooks/"
  redir "/Ideas para una web distribuida.html" "/x/Ideas%20para%20una%20web%20distribuida/"
  redir "/Infraestructura.html" "/x/Infraestructura/"
  redir "/Internet censurado en escuelas con Plan Sarmiento.html" "/x/Internet%20censurado%20en%20escuelas%20con%20Plan%20Sarmiento/"
  redir "/Inversiones.html" "/x/Inversiones/"
  redir "/Jackson Burns - SKIN PURIFYING TREATMENT: Underscore's Melodrama.html" "/x/Jackson%20Burns%20-%20SKIN%20PURIFYING%20TREATMENT:%20Underscore's%20Melodrama/"
  redir "/Jardin digital.html" "/x/Jardin%20digital/"
  redir "/JavaScript.html" "/x/JavaScript/"
  redir "/Javier Milei.html" "/x/Javier%20Milei/"
  redir "/Keyboard layouts de pocas teclas.html" "/x/Keyboard%20layouts%20de%20pocas%20teclas/"
  redir "/Leak OSDE 2022-08.html" "/x/Leak%20OSDE%202022-08/"
  redir "/Lenguajes de marcado.html" "/x/Lenguajes%20de%20marcado/"
  redir "/Lenguajes de programación.html" "/x/Lenguajes%20de%20programaci%C3%B3n/"
  redir "/Lua.html" "/x/Lua/"
  redir "/Lua funcional.html" "/x/Lua/"
  redir "/Magnets o torrents reproducibles.html" "/x/Magnets%20o%20torrents%20reproducibles/"
  redir "/Manjaro.html" "/x/Manjaro/"
  redir "/Markdown.html" "/x/Markdown/"
  redir "/Marketing.html" "/x/Marketing/"
  redir "/Measured boot.html" "/x/Measured%20boot/"
  redir "/Menú artístico.gen.html" "/x/Men%C3%BA%20art%C3%ADstico.gen/"
  redir "/Mi webring.gen.html" "/"
  redir "/Multimetro.html" "/x/Multimetro/"
  redir "/NeoMutt.html" "/x/NeoMutt/"
  redir "/Nix.html" "/x/Nix/"
  redir "/Njalla caído.html" "/x/Njalla%20ca%C3%ADdo/"
  redir "/Not So Shoujo Love Story.html" "/x/Not%20So%20Shoujo%20Love%20Story/"
  redir "/Nullificación.html" "/bookmarks/2021-12-27-kayak-null/"
  redir "/Nutrición.html" "/x/Nutrici%C3%B3n/"
  redir "/Olla a presión.html" "/x/Olla%20a%20presi%C3%B3n/"
  redir "/OnePlus 5T.html" "/x/OnePlus%205T/"
  redir "/Opus Encoding.html" "/x/Opus%20Encoding/"
  redir "/PDF.html" "/x/PDF/"
  redir "/README.html" "/x/README/"
  redir "/Salud mental.html" "/x/Salud%20mental/"
  redir "/Seguridad de la infraestructura de llaves pública (PKI).html" "/x/Seguridad%20de%20la%20infraestructura%20de%20llaves%20p%C3%BAblica%20(PKI)/"
  redir "/Signal.html" "/x/Signal/"
  redir "/simplegit.html" "/x/simplegit/"
  redir "/SONG® Music LLC.html" "/bookmarks/2021-12-17-SONG® Music LLC: NEWSONG® Pro+/"
  redir "/SQLite.html" "/x/SQLite/"
  redir "/Subdivx.html" "/x/Subdivx/"
  redir "/Switches.html" "/x/Switches/"
  redir "/SyncedStore.html" "/x/SyncedStore/"
  redir "/Tailwind CSS.html" "/x/CSS/"
  redir "/Teclados.html" "/x/Teclados/"
  redir "/Teclados mecánicos.html" "/x/Teclados%20mec%C3%A1nicos/"
  redir "/Thinkpad X230.html" "/x/Thinkpad%20X230/"
  redir "/Tipear con una mano.html" "/x/Tipear%20con%20una%20mano/"
  redir "/To-Do lists.html" "/x/To-Do%20lists/"
  redir "/Permacomputación.html" "/x/Permacomputaci%C3%B3n/"
  redir "/Piratería.html" "/x/Pirater%C3%ADa/"
  redir "/Pleroma.html" "/x/Pleroma/"
  redir "/Producción de música.html" "/x/Producci%C3%B3n%20de%20m%C3%BAsica/"
  redir "/Programación.html" "/x/Programaci%C3%B3n/"
  redir "/ProleText.html" "/x/ProleText/"
  redir "/Protocolo de toma de decisiones Sutty v0.1.html" "/x/Protocolo%20de%20toma%20de%20decisiones%20Sutty%20v0.1/"
  redir "/Proyectos.html" "/x/Proyectos/"
  redir "/PWA.html" "/x/PWA/"
  redir "/PXE.html" "/x/PXE/"
  redir "/Python.html" "/x/Python/"
  redir "/QEMU.html" "/x/QEMU/"
  redir "/Twitter.html" "/x/Twitter/"
  redir "/txt2txt.html" "/x/txt2txt/"
  redir "/underscores - skin purifying treatment.html" "/x/underscores%20-%20skin%20purifying%20treatment/"
  redir "/underscores - skin purifying treatment b sides.html" "/x/underscores%20-%20skin%20purifying%20treatment%20b%20sides/"
  redir "/VPS.html" "/x/VPS/"
  redir "/Web.html" "/x/Web/"
  redir "/Wikimedia.html" "/x/Wikimedia/"
  redir "/XMPP.html" "/x/XMPP/"
  redir "/YouTube.html" "/x/YouTube/"
  redir "/Quién soy.html" "/x/Qui%C3%A9n%20soy/"
  redir "/YouTube Restricted Mode.html" "/x/YouTube%20Restricted%20Mode/"
}
