body {
	font-family: sans-serif;
	max-width: 45rem;
	margin: 0;
	margin-left: auto;
	padding: 0.5rem;
}

header {
	margin: 2rem 0;
	text-align: center;
}

h2 {
	border-bottom: black solid 1px;
}

img,
video {
	max-width: 100%;
	border-radius: 12px;
}

abbr {
	color: gray;
}

pre {
	overflow-x: auto;
	white-space: break-spaces;
}

blockquote {
	border-left: solid 3px;
	margin: auto 0.5em;
	padding-left: 1em;
}

ul {
	padding: 0;
	padding-left: 1.5rem;
}
li {
	margin: 0.5rem 0;
	padding: 0 0.2rem;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black;
		color: #eee;
	}
	abbr {
		color: lightgray;
	}
	a {
		color: gold;
	}
	a:visited {
		color: #ff9;
	}
	ul {
		background: rgba(255, 0, 0, 0.2);
	}
}
