:root {
  color-scheme: dark light;
}

body {
  font-family: sans-serif;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

article header {
  margin: 2rem 0;
  text-align: center;
  max-width: 75rem;
}
article h1 {
  font-size: 32px;
}
article main,
section#conexiones {
  max-width: 45rem;
  margin: 0 auto;
}

h2 {
  border-bottom: CanvasText solid 1px;
}

img,
video {
  max-width: 100%;
  border-radius: 12px;
}

abbr {
  color: gray;
}

pre {
  overflow-x: auto;
  white-space: break-spaces;
}

blockquote {
  border-left: solid 3px;
  border-color: CanvasText;
  margin: auto 0.5em;
  padding-left: 1em;
}

ul,
ol {
  padding: 0;
  padding-left: 1.5rem;
  margin: 1rem 0;
}
li {
  margin: 0.5rem 0;
  padding: 0 0.2rem;
}

a {
  background: ButtonFace;
  padding: 0em 0.35em;
  border-radius: 0.4rem;
  color: inherit;
  text-decoration: inherit;
}

#conexiones ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#conexiones li {
  padding: 0;
  margin: 0;
}
#conexiones li::before {
  content: "↜ ";
}

.webring .articles {
  display: flex;
  flex-wrap: wrap;
}
.webring .title {
  margin: 0;
}
.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 10rem;
}
.webring .summary {
  font-size: 0.8rem;
  flex: 1 1 0;
}
.webring .attribution {
  text-align: right;
  font-size: 0.8rem;
}

.main-title {
  color: red;
  margin-top: 0;
}
