body {
	font-family: sans-serif;
	max-width: 45rem;
	margin: 0 auto;
	padding: 1rem;
}

img,
video {
	max-width: 100%;
}

abbr {
	color: gray;
}

pre {
	overflow-x: auto;
}

blockquote {
	border-left: solid 3px;
	margin: auto 0.5em;
	padding-left: 1em;
}

ul {
	background: rgba(0, 0, 255, 0.05);
	margin: 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black;
		color: #eee;
	}
	abbr {
		color: lightgray;
	}
	a {
		color: gold;
	}
	a:visited {
		color: #ff9;
	}
	ul {
		background: rgba(255, 0, 0, 0.2);
	}
}
