---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { slug } from "github-slugger";
import TagLink from "./TagLink.astro";

interface Props {
  entries: CollectionEntry<"marcadores">[];
}
const { entries } = Astro.props;

function getHost(url: string): string {
  try {
    const u = new URL(url);
    let host = u.hostname.replace(/^www\./, "");
    return host;
  } catch {
    return "";
  }
}
---

<ul class="list-disc max-w-2xl w-full mx-auto pl-4">
  {
    entries.map((entry) => (
      <li class="py-1">
        {/* prettier-ignore */}
        <a class="block break-words leading-tight" href={entry.data.url}>
          <span class="underline">{entry.data.title || entry.data.url}</span>
          <span class="text-neutral-500 dark:text-neutral-300">({getHost(entry.data.url)})</span>
          <Icon class="inline-block" name="eva:external-link-fill" />
        </a>
        <div class="mt-1">
          {entry.body.length > 0 && (
            <>
              {/* prettier-ignore */}
              <a class="text-neutral-500 dark:text-neutral-300 underline" href={`/marcadores/${entry.slug}`}>notas</a>
            </>
          )}
          {entry.data.tags && (
            <ul class="not-prose mx-auto leading-none inline">
              {entry.data.tags.map((tag) => (
                <li class="inline mr-1">
                  <TagLink tag={tag} />
                </li>
              ))}
            </ul>
          )}
        </div>
      </li>
    ))
  }
</ul>
